@model Cursos.Models.DocumentoInteres

@{
    ViewBag.Title = "Eliminar Documento de Interés";
}

<h2>Eliminar Documento de Interés</h2>

<h3>¿Está seguro que desea eliminar este documento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Descripcion))
            {
                <div style="white-space: pre-wrap;">@Html.DisplayFor(model => model.Descripcion)</div>
            }
            else
            {
                <em>Sin descripción</em>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreArchivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @if (Model.Activo)
            {
                <span class="badge badge-success">Activo</span>
            }
            else
            {
                <span class="badge badge-secondary">Inactivo</span>
            }
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
