@model Cursos.Models.ApplicationUser
@using Cursos.Helpers;

@{
    ViewBag.Title = "Eliminar usuario";
}

<h3 style="color: red">¡Atención! Una vez eliminado, el usuario no podrá acceder a la aplicación.</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.Label("Rol")
        </dt>

        <dd>
            <label>@UsuarioHelper.GetInstance().ObtenerRoleName(Model.Roles.ElementAt(0).RoleId)</label>
        </dd>

        <dt>
            @Html.Label("Empresa")
        </dt>

        <dd>
            <label>@UsuarioHelper.GetInstance().ObtenerNombreEmpresaAsociada(Model.Email)</label>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

