@model PagedList.IPagedList<Cursos.Models.ApplicationUser>
@using PagedList.Mvc;
@using Cursos.Helpers;

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Registar Nuevo", "Register")
</p>

<hr />

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>

                <div class="form-inline" style="margin:5px 3px;">

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Label("Usuario"):
                        </div>
                        <div class="col-md-10">
                            @Html.TextBox("nombreUsuario", ViewBag.CurrentNombreUsuario as string, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Label("Rol:")
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Label("Empresa:")
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </td>
            <td width="1%">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Buscar" />
                    </div>
                    <!--
                    <div class="col-md-2">
                        @Html.ActionLink("Limpiar filtros", "Index")
                    </div>
                    -->
                </div>
            </td>

        </tr>
    </table>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNombreUsuario = ViewBag.CurrentNombreUsuario, currentRoleId = ViewBag.CurrentRoleId, currentEmpresaID = ViewBag.CurrentEmpresaID }))

<label>@String.Format("Total de Usuarios: {0}", ViewBag.TotalUsuarios)</label>

<table class="table table-striped">
    <tr>
        <th>
            @Html.Label("Usuario")
        </th>
        <th>
            @Html.Label("Rol")
        </th>
        <th>
            @Html.Label("Empresa")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @UsuarioHelper.GetInstance().ObtenerRoleName(item.Roles.ElementAt(0).RoleId)
            </td>
            <td>
                @UsuarioHelper.GetInstance().ObtenerNombreEmpresaAsociada(item.Email)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Account", new { id = item.Id }) "><img src="@Url.Content("~/images/editar_16x16.png")" title="Editar" /></a>
                <a href="@Url.Action("ForcePassword", "Account", new { id = item.Id }) "><img src="@Url.Content("~/images/forzarContrasena_16x16.png")" title="Forzar contraseña" /></a>
                <a href="@Url.Action("Delete", "Account", new { id = item.Id }) "><img src="@Url.Content("~/images/borrar_16x16.png")" title="Borrar" /></a>
            </td>
        </tr>
    }

</table>

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNombreUsuario = ViewBag.CurrentNombreUsuario, currentRoleId = ViewBag.CurrentRoleId, currentEmpresaID = ViewBag.CurrentEmpresaID }))




