@model Cursos.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Rol", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("RoleName", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    @*La sección donde se selecciona la empresa, se inicializará como 
        no visible porque el perfil "ConsultaEmpresa" no será el primero en mostrarse *@
    <div class="form-group" style="display:none" id="SeccionDatosEmpresa">
        @Html.Label("Empresa", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    @*La sección donde se selecciona el instructor, se inicializará como
        no visible porque el perfil "InstructorExterno" no será el primero en mostrarse *@
    <div class="form-group" style="display:none" id="SeccionDatosInstructor">
        @Html.Label("Instructor", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("InstructorID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    @*La sección donde se selecciona si se  permiten inscripciones externas, se inicializará como
        no visible porque el perfil "ConsultaEmpresa" no será el primero en mostrarse *@
    <div class="form-group" style="display:none" id="SeccionPermitirInscripcionesExternas">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.PermitirInscripcionesExternas)
                @Html.LabelFor(m => m.PermitirInscripcionesExternas, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $('#RoleName').change(function () {
            var value = $(this).val();
            if (value == 'ConsultaEmpresa') {
                $('#SeccionDatosEmpresa').show();
                $('#SeccionPermitirInscripcionesExternas').show();
            } else {
                $('#SeccionDatosEmpresa').hide();
                $('#SeccionPermitirInscripcionesExternas').hide();

                $("#PermitirInscripcionesExternas").prop("checked", false);
            }

            if (value == 'InstructorExterno') {
                $('#SeccionDatosInstructor').show();
            } else {
                $('#SeccionDatosInstructor').hide();
            }
        });
    })
</script>
}
