@model IEnumerable<Cursos.Models.Empresa>

@{
    ViewBag.Title = "Empresas";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpresaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpresaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpresaID })
        </td>
    </tr>
}

</table>
