@model PagedList.IPagedList<Cursos.Models.Empresa>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Empresas";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>

<hr />

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div class="form-inline" style="margin:5px 3px;">

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.Label("Nombre de fantasía")
                        </div>
                        <div class="col-md-10">
                            @Html.TextBox("nombreFantasia", ViewBag.CurrentNombreFantasia as string, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                </div>
            </td>
            <td width="1%">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Buscar" />
                    </div>
                </div>
            </td>

        </tr>
    </table>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNombreFantasia = ViewBag.CurrentNombreFantasia }))

<label>@String.Format("Total de Empresas: {0}", ViewBag.TotalEmpresas)</label>

<table class="table table-striped">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Departamento
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nombre)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Email))
                {
                    foreach (var email in item.Email.Split(','))
                    {
                        <a href='mailto:@email'>@email</a>
                        <br />
                    }
                }
            </td>
            <td>
                <a href="@Url.Action("Details", "Empresas", new { id = item.EmpresaID }) "><img src="@Url.Content("~/images/verDetalle_16x16.png")" title="Ver detalle" /></a>
                @if (!string.IsNullOrEmpty(item.Email))
                {
                    @:&nbsp;|
                    <a href="mailto:@item.Email"><img src="@Url.Content("~/images/email_16x16.png")" title="Enviar mail" /></a>
                }
                else
                {
                    @:&nbsp;|
                    <img src="@Url.Content("~/images/email_disabled_16x16.png")" />
                }
                @if (item.PuedeModificarse())
                {
                    @:&nbsp;|
                    <a href="@Url.Action("Edit", "Empresas", new { id = item.EmpresaID }) "><img src="@Url.Content("~/images/editar_16x16.png")" title="Editar" /></a>@:&nbsp;|
                    <a href="@Url.Action("Delete", "Empresas", new { id = item.EmpresaID }) "><img src="@Url.Content("~/images/borrar_16x16.png")" title="Borrar" /></a>
                }
            </td>
        </tr>
    }

</table>

<br />

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNombreFantasia = ViewBag.CurrentNombreFantasia }))
