@model Cursos.Models.NotificacionVencimiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NotificacionVencimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistroCapacitacion.UsuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroCapacitacion.UsuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailNotificacionVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailNotificacionVencimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotificacionVencimientoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
