@model Cursos.Models.Lugar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lugar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbrevLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbrevLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionHabitual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionHabitual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LugarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
