@model Cursos.Models.Capacitado

<div style="text-align:center">

    @*Se incluye este valor para que se incluya en el objeto model cuando se haga el submit del fomrulario*@
    @*La carga de las fotos se realiza invocando por post el ActionResult*@
    @Html.HiddenFor(model => model.CapacitadoID)

    <p>@Html.DisplayFor(model => model.NombreCompleto)</p>
    <p>@Html.DisplayFor(model => model.DocumentoCompleto)</p>
    <p>@Html.DisplayFor(model => model.Empresa.NombreFantasia)</p>

    @if (Model.PathArchivo != null)
    {
        <table style="margin: 0 auto;">
            <tr>
                <td>
                    <img id="imgRotarIzquierda" style="cursor:pointer;" src="~/images/rotarIzquierda.png">
                </td>
                <td>

                    <input type="hidden" id="srcCapacitadoFotoOriginal" value="~/images/FotosCapacitados/@Model.PathArchivo.PathCompleto?width=150&height=150&mode=crop&anchor=top" />

                    <a href="~/images/FotosCapacitados/@Model.PathArchivo.PathCompleto">
                        <img id="imgCapacitadoFoto" src="~/images/FotosCapacitados/@Model.PathArchivo.PathCompleto?width=150&height=150&mode=crop&anchor=top" alt="" />
                    </a>
                    <br />
                    @Html.Partial("_ArchivoFechaHoraPartial", Model.PathArchivo)
                    <br />
                </td>
                <td>
                    <img id="imgRotarDerecha" style="cursor:pointer;" src="~/images/rotarDerecha.png">
                </td>
            </tr>
        </table>
    }
    else
    {
        <div class="image-upload">
            <label for="fotoCapacitado">
                <img id="imgCapacitadoFoto" style="cursor:pointer;" src="~/images/sinfoto_150x150.png" />
            </label>

            <input id="fotoCapacitado" type="file" style="display: none;" />
        </div>
    }

</div>