@model IEnumerable<Cursos.Models.RegistroCapacitacion>
@using Cursos.Models.Enums;
@using Cursos.Helpers;

@{string textoTotal = string.Empty; }

@if (@Model.Count() > 0)
{
    textoTotal = string.Format("Total de capacitados: {0}", Model.Count().ToString());
}
else
{
    textoTotal = "Sin incriptos";
}

<h4><span class="label label-default">@textoTotal</span></h4>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capacitado.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacitado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacitado.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaPrevia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string labelClass = EstadosRegistroCapacitacionHelper.GetInstance().ObtenerLabelClassEstado(item.Estado);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacitado.DocumentoCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacitado.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacitado.Empresa.NombreFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaPrevia)
            </td>
            <td>
                <span class="label @labelClass">@item.Estado</span>
            </td>
            @if (item.PuedeModificarse())
            {
                <td>
                    @if (item.Jornada.Autorizada)
                    {
                        <a href="@Url.Action("Edit", "RegistrosCapacitacion", new { id = item.RegistroCapacitacionID }) "><img src="@Url.Content("~/images/editar_16x16.png")" title="Editar" /></a>@:&nbsp;|
                    }
                    <a href="@Url.Action("Delete", "RegistrosCapacitacion", new { id = item.RegistroCapacitacionID }) "><img src="@Url.Content("~/images/borrar_16x16.png")" title="Borrar" /></a>
                </td>
            }
            else
            {
                <td>&nbsp;</td>
            }
        </tr>
    }

</table>