@model IEnumerable<Cursos.Models.Capacitado>
@using Cursos.Helpers;

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <tr>
            <th>
                Apellido
            </th>
            <th>
                Nombre
            </th>
            <th>
                Documento
            </th>
            <th>
                Empresa
            </th>
            <th></th> <!--Columna para ícono de selección -->
        </tr>

        @foreach (var item in Model)
        {
            var registroCapacitacionEnJornadaActual = item.RegistrosCapacitacion.Where(r => r.JornadaID == ViewBag.JornadaIdExcluir).FirstOrDefault();

            //se obtiene los registros en estado "Incripto" para el mismo curso de la jornada en la que se está haciendo la inscripción
            //no se permite inscribir un capacitado a una jornada si ya está inscripto (y aún no completó) a otra joranda del mismo curso
            var registroCapacitacionMismoCurso = item.RegistrosCapacitacion.Where(r => r.JornadaID != ViewBag.JornadaIdExcluir && r.Jornada.CursoId == ViewBag.JornadaExcluirCursoId && r.Estado == Cursos.Models.Enums.EstadosRegistroCapacitacion.Inscripto).FirstOrDefault();
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentoCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.NombreCompleto)
                </td>
                <td id="tdSeleccionarCapacitado">
                    @*Si el capacitado aún no había sido agregado a la Jornada actual*@
                    @if (registroCapacitacionMismoCurso != null)
                    {
                    <span class="label label-primary">@string.Format("Inscripto en la jornada {0}", registroCapacitacionMismoCurso.Jornada.FechaHoraTexto)</span>
                    }
                    else if (registroCapacitacionEnJornadaActual == null)
                    {
                    <span data-capacitadoid="@item.CapacitadoID.ToString()" class="glyphicon glyphicon-plus-sign btnSeleccionarCapacitado" style="color: #017d49; cursor: pointer;"></span>
                    }
                    else
                    {
                        string labelClass = EstadosRegistroCapacitacionHelper.GetInstance().ObtenerLabelClassEstado(registroCapacitacionEnJornadaActual.Estado);
                        <span class="label @labelClass">@registroCapacitacionEnJornadaActual.Estado</span>
                    }
                </td>
            </tr>
        }
    </table>
}

