@model IEnumerable<Cursos.Models.Capacitado>
@using Cursos.Helpers;

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <tr>
            <th>
                Apellido
            </th>
            <th>
                Nombre
            </th>
            <th>
                Documento
            </th>
            <th>
                Empresa
            </th>
            <th></th> <!--Columna para ícono de selección -->
        </tr>

        @foreach (var item in Model)
        {
            var registroCapacitacionEnJornadaActual = item.RegistrosCapacitacion.Where(r => r.JornadaID == ViewBag.JornadaIdExcluir).FirstOrDefault();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentoCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.NombreFantasia)
                </td>
                <td id="tdSeleccionarCapacitado">
                    @*Si el capacitado aún no había sido agregado a la Jornada actual*@
                    @if (registroCapacitacionEnJornadaActual == null)
                    { 
                        <a href="javascript:seleccionarCapacitado(@item.CapacitadoID);"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    }
                    else
                    {
                        string labelClass = EstadosRegistroCapacitacionHelper.GetInstance().ObtenerLabelClassEstado(registroCapacitacionEnJornadaActual.Estado);
                        <span class="label @labelClass">@registroCapacitacionEnJornadaActual.Estado</span>
                    }
                </td>
            </tr>
        }
    </table>
}

