@model Cursos.Models.Capacitado

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Capacitados", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCapacitado", name = "formCapacitado" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Capacitado - Crear</h4>
        @if (ViewBag.JornadaId != null)
        {
            <div class="alert alert-info"><strong>Atención!</strong> @string.Format("Este capacitado se agregará a la jornada: {0}", ViewBag.JornadaIdentificacionCompleta)</div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoDocumentoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control", @onblur = "validarDocumentoRepetido();" } })
                @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                @*Html.Label("DocumentoRepetido", "El documento ya está asignado al Capacitado x", htmlAttributes: new { style = "display:inline;", @href = "/Capacitados/Create/" })*@
                <a href="#" id="DocumentoRepetido" style = "display:none;">El documento ya está asignado a un Capacitado</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Foto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Photo" name="upload" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpresaID, htmlAttributes: new { @class = "control-label col-md-2" })
            @if (User.IsInRole("ConsultaEmpresa") && User.IsInRole("InscripcionesExternas"))
            {
                <label class="control-label col-md-2" style="text-align: left;">@ViewBag.EmpresaNombreFantasia</label>
                <input type="hidden" id="EmpresaID" name="EmpresaID" value="@ViewBag.EmpresaID" />
                @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
            }
            else
            {
                <div class="col-md-10">
                    @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
                </div>
            }
        </div>

        <input type="hidden" name="jornadaId" value="@ViewBag.JornadaId" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Crear" class="btn btn-default btnGuardar" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>

    $('.btnGuardar').on('click', function (e)
    {
        var documento = $('#Documento').val();
        var tipoDocumentoID = $('#TipoDocumentoID').val();

        //solo se controlan la CI
        if (tipoDocumentoID == 1)
        {
            $.ajax({
                url: '/Capacitados/ExisteCapacitadoDocumento',
                type: 'post',
                data: { documento: documento, 
                        tipoDocumentoID: tipoDocumentoID },
                success: function (existeCapacitado)
                         {
                            if (!existeCapacitado) 
                            {
                                $("#formCapacitado")[0].submit();
                            }
                            else
                            {
                                alert('El capacitado con documento ' + documento + ' ya existe en la base de datos.');
                            }
                         }
            });
        }
        else
        {
            $("#formCapacitado")[0].submit();
        }
    });

    function validarDocumentoRepetido()
    {
        var documento = $('#Documento').val();
        $.ajax({
            url: '/Capacitados/ObtenerCapacitadoIDPorDocumento',
            type: "GET",
            dataType: "JSON",
            data: { documento: documento},
            success: function (capacitadoId)
                     {
                        if (capacitadoId != -1) {
                            //window.location.href = '/Capacitados/Details/' + capacitadoId;
                            $('#DocumentoRepetido').attr('href', '/Capacitados/Details/' + capacitadoId);
                            $('#DocumentoRepetido').show();
                        }
                        else
                        {
                            $('#DocumentoRepetido').attr('href', '#');
                            $('#DocumentoRepetido').hide();
                        }
                     }
        });
    }

</script>
}
