@model PagedList.IPagedList<Cursos.Models.Capacitado>
@using PagedList.Mvc;
@using Cursos.Helpers;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Capacitados";
}

<h2>Capacitados</h2>

<div class="mb-3">
    <div class="btn-group" role="group">
        @if (User.IsInRole("Administrador") || User.IsInRole("AdministradorExterno"))
        {
            @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary" })
        }
        @Html.ActionLink("Exportar a Excel", "Index",
            new
                 {
                currentNombre = ViewBag.CurrentNombre,
                currentApellido = ViewBag.CurrentApellido,
                currentEmpresaID = ViewBag.CurrentEmpresaID,
                currentCursoID = ViewBag.CurrentCursoID,
                exportarExcel = true
            },
            new { @class = "btn btn-primary" })
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-light">
        <a href="javascript:void(0);" class="filter-toggle" id="toggleFilters">
            Ocultar Filtros
        </a>
    </div>
    <div id="filterContent">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <!-- Primera fila: Documento, Nombre, Apellido -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>@Resources.ViewCapacitadosIndex.ResourceManager.GetString("lblDocumento"):</label>
                            @Html.TextBox("documento", "", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>@Resources.ViewCapacitadosIndex.ResourceManager.GetString("lblNombre"):</label>
                            @Html.TextBox("nombre", ViewBag.CurrentNombre as string, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>@Resources.ViewCapacitadosIndex.ResourceManager.GetString("lblApellido"):</label>
                            @Html.TextBox("apellido", ViewBag.CurrentApellido as string, new { @class = "form-control" })
                        </div>
                    </div>

                    <!-- Segunda fila: Empresa, Curso, Botones -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>@Resources.ViewCapacitadosIndex.ResourceManager.GetString("lblEmpresa"):</label>
                            @Html.DropDownList("EmpresaID", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label>@Resources.ViewCapacitadosIndex.ResourceManager.GetString("lblCurso"):</label>
                            @Html.DropDownList("CursoID", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mb-3" style="margin-top: 25px;">
                            <div class="btn-group">
                                <input type="submit" value="@Resources.ViewCapacitadosIndex.ResourceManager.GetString("btnBuscar")" class="btn btn-primary" />
                                @Html.ActionLink("Limpiar filtros", "Index", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNombre = ViewBag.CurrentNombre, currentApellido = ViewBag.CurrentApellido, currentEmpresaID = ViewBag.CurrentEmpresaID, currentCursoID = ViewBag.CurrentCursoID }))

@Html.Partial("_ListCapacitadosPartial", Model)

<br />
P&aacute;gina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentNombre = ViewBag.CurrentNombre, currentApellido = ViewBag.CurrentApellido, currentEmpresaID = ViewBag.CurrentEmpresaID, currentCursoID = ViewBag.CurrentCursoID }))