@model Cursos.Models.RegistroCapacitacion

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Registro de Capacitacion</h4>
    @Html.Partial("_DatosModificacionPartial", Model)
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.JornadaIdentificacionCompleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitado.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitado.DocumentoCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitado.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprobado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaPrevia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaPrevia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistroCapacitacionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
