@model PagedList.IPagedList<Cursos.Models.RegistroCapacitacion>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Panel de envíos OVAL";
}

<h2>Panel de envíos OVAL</h2>

<p>
    @Html.ActionLink("Ver logs", "IndexLogs_EnviosOVAL")
</p>

<hr />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@Html.Partial("_ListRegistrosCapacitacionOvalPartial", Model)

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))