@model Cursos.Models.Jornada

@{
    ViewBag.Title = "Jornada - Detalles";
}

<div>
    <div style="background-color: whitesmoke; padding-left: 10px; padding-bottom: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <table>
            <tr>
                <td style="vertical-align: bottom; padding-right: 10px"><h4>Jornada</h4></td>
                <td style="padding-right: 10px"><h3><span class="label label-default" style="color: #333333; background-color: @Model.Curso.ColorDeFondo">@Html.DisplayFor(model => model.Curso.Descripcion)</span></h3></td>
                <td style="vertical-align: bottom; padding-right: 10px"><h4>@String.Format("{0} {1} - {2} - {3}", Model.Fecha.ToShortDateString(), Model.Hora.Trim(), Model.Lugar.NombreLugar, Model.Instructor.NombreCompleto)</h4></td>
            </tr>
        </table>
    </div>

    @Html.Partial("_DatosModificacionPartial", Model)

    <p style="vertical-align: middle;">
        <a href="@Url.Action("Index") "><span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 25px; color: #017d49"></span>&nbsp;Regresar</a>
        &nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Details", new { id = Model.JornadaID, exportarExcel = true })"><span class="glyphicon glyphicon-share" style="font-size: 25px; color: #017d49"></span>&nbsp;Exportar a Excel</a>
        &nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Create", new { id = Model.JornadaID })"><span class="glyphicon glyphicon-paperclip" style="font-size: 25px; color: #017d49"></span>&nbsp;Copiar capacitados a otra jornada</a>
    </p>
    
    <hr />

 </div>

<div>
    <button data-toggle="collapse" data-target="#demo" class="btn btn-default">Agregar Capacitado&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></button>
</div>

<div id="demo" class="collapse well" style="background-color: whitesmoke">
    <table>
        <tr>
            <td>
                <div class="form-inline" style="margin:5px 3px;">
                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Label("Documento"):
                        </div>
                        <div class="col-md-10">
                            @Html.TextBox("documento", "", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @*
                <button class="btn btn-default" onclick="agregarCapacitado();"><span class="glyphicon glyphicon-plus-sign"></span></button>
                *@
                <button class="btn btn-default" onclick="buscarCapacitados();"><span class="glyphicon glyphicon-search"></span></button>
            </td>
        </tr>
    </table>
    <br />
    <div id="dvSeleccionarCapacitados">
        @Html.Partial("_SeleccionarCapacitadosPartial", new List<Cursos.Models.Capacitado>())
    </div>
</div>

<br />

<h4>Registros de capacitación</h4>

<div id="dvRegistrosCapacitacion">
    @Html.Partial("_ListRegistrosCapacitacionPartial", Model.RegistrosCapacitacion)
</div>

@section Scripts {
    <script type="text/javascript">

        function buscarCapacitados()
        {
            var documento = $("#documento").val();
            $("#dvSeleccionarCapacitados").load('@(Url.Action("ObtenerSelecionarCapacitados", "Capacitados",null, Request.Url.Scheme))?documento=' + documento + '&jornadaIdExcluir=' + @Model.JornadaID);
        }

        function seleccionarCapacitado(capacitadoId)
        {
            $("#dvRegistrosCapacitacion").load('@(Url.Action("AgregarYObtenerRegistrosCapacitacionJornada", "Jornadas",null, Request.Url.Scheme))?jornadaId=' + @Model.JornadaID + '&capacitadoId=' + capacitadoId);
            buscarCapacitados();
        }

    </script>
}
