@model IEnumerable<Cursos.Models.Jornada>
@using Cursos.Helpers;

@{
    ViewBag.Title = "Jornadas Disponibles";
}

@*Sólo se muestran los logos cuando se accede desde jornadas.csl.uy*@
@if (Request.Url.Host == "jornadas.csl.uy")
{
<div class="row">
    <div class="col-sm-6">
        <img src="~/images/logos/CSL_logo_main_h_300.png" class="img-responsive" alt="UPM The Biofore Company">
    </div>
    <div class="col-sm-6">
        <img src="~/images/logos/UPM_logo_main_h_300.png" class="img-responsive" alt="UPM The Biofore Company">
    </div>
</div>
<hr />
}

<h2>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblProximasJornadasDisponibles")</h2>

<div class="alert alert-danger"><strong>A PARTIR DEL JUEVES 1 DE OCTUBRE LAS JORNADAS DE INDUCCIÓN TIENEN UNA DURACIÓN DE 4 HORAS</strong></div>

<hr />

@using (Html.BeginForm())
{                                }
<table class="table table-striped">
    <tr>
        <th>
            @Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblFecha")
        </th>
        <th>
            @Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblHora")
        </th>
        <th>
            @Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblCurso")
        </th>
        <th>
            @Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblLugar")
        </th>
        <th>
            @Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblDireccion")
        </th>
        <th>
            @Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblCaracteristicas")
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
    </tr>

    @foreach (var item in Model)
    {
        //si la jornada no tiene cupos disponibles se muestra el texto en colo rojo
        string textColor = item.CuposDisponibles ? "black" : "red";

        <tr style="color: @textColor;">
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td style="vertical-align: middle;">
                @Html.Raw(JornadaHelper.GetInstance().ObtenerLabelCurso(item))
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Lugar.NombreLugar)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Caracteristicas)
            </td>
            <td style="font-weight: bold;">
                @if (item.TieneMaximoAsistentes)
                {
                    @Html.Raw(JornadaHelper.GetInstance().ObtenerLabelTotalCuposDisponibles(item))
                }
                else
                {
                    @:&nbsp;
                }
            </td>
            <td style="font-weight: bold;">
                @if (item.TieneCierreIncripcion)
                {
                    @Html.Raw(JornadaHelper.GetInstance().ObtenerLabelCierreInscripcion(item))
                }
                else
                {
                    @:&nbsp;
                }
            </td>
            <td>
                @if (item.PuedeAgregarInscripcionesUsuarioActual)
                {
                    <a href="@Url.Action("Details", "Jornadas", new { id = item.JornadaID }) ">@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lnkRegistrarInscripcion")</a>
                }
                else
                {
                    @:&nbsp;
                }
            </td>
        </tr>
    }

</table>