@model Cursos.Models.ViewModels.JornadasDisponiblesViewModel
@using Cursos.Helpers;

@{
    ViewBag.Title = "Jornadas Disponibles";
}

@if (Request.Url.Host == "jornadas.csl.uy")
{
    <div class="login-logos">
        <img src="~/images/logos/CSL_logo_main_h.png" alt="CSL Certificaciones" />
        <img src="~/images/logos/UPM_logo_main_h.png" alt="UPM The Biofore Company" />
    </div>
    <hr />
}

<!-- Modal para el primer mensaje -->
<div id="modalMensaje" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atenci&oacute;n</h4>
            </div>
            <div id="bodyMensaje" class="modal-body" style="text-align: center;">
                @Html.Raw(Model.MensajeDisponibles1.Cuerpo)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el segundo mensaje -->
<div id="modalMensajeT2" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atenci&oacute;n</h4>
            </div>
            <div id="bodyMensajeT2" class="modal-body" style="text-align: center;">
                @Html.Raw(Model.MensajeDisponibles2.Cuerpo)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<h2>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblProximasJornadasDisponibles")</h2>
<hr />

@using (Html.BeginForm())
{ }
<table class="table table-striped">
    <tr>
        <th>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblFecha")</th>
        <th>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblHora")</th>
        <th>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblCurso")</th>
        <th>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblLugar")</th>
        <th>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblDireccion")</th>
        <th>@Resources.ViewJornadasDisponibles.ResourceManager.GetString("lblCaracteristicas")</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>

    @foreach (var item in Model.Jornadas)
    {
        string textColor = item.CuposDisponibles ? "black" : "red";
        <tr style="color: @textColor;">
            <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.Fecha)</td>
            <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.Hora)</td>
            <td style="vertical-align: middle;">@Html.Raw(JornadaHelper.GetInstance().ObtenerLabelCurso(item))</td>
            <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.Lugar.NombreLugar)</td>
            <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.Direccion)</td>
            <td style="vertical-align: middle;">@Html.DisplayFor(modelItem => item.Caracteristicas)</td>
            <td style="font-weight: bold;">
                @if (item.TieneMaximoAsistentes)
                {
                    @Html.Raw(JornadaHelper.GetInstance().ObtenerLabelTotalCuposDisponibles(item))
                }
                else
                {
                    @:&nbsp;
                }
            </td>
            <td style="font-weight: bold;">
                @if (item.TieneCierreIncripcion)
                {
                    @Html.Raw(JornadaHelper.GetInstance().ObtenerLabelCierreInscripcion(item))
                }
                else
                {
                    @:&nbsp;
                }
            </td>
            <td>
                @if (item.PuedeAccederUsuarioActual)
                {
                    string textoLink = item.PuedeAgregarInscripcionesUsuarioActual ?
                        Resources.ViewJornadasDisponibles.ResourceManager.GetString("lnkRegistrarInscripcion") :
                        Resources.ViewJornadasDisponibles.ResourceManager.GetString("lnkVerJornada");

                    <a href="@Url.Action("Details", "Jornadas", new { id = item.JornadaID })">@textoLink</a>
                }
                else
                {
                    @:&nbsp;
                }
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#modalMensaje').modal('show');
        });
        $('#modalMensaje').on('hidden.bs.modal', function (event) {
            $('#modalMensajeT2').modal('show');
        });
    </script>
}
