@model IEnumerable<Cursos.Models.Jornada>

@{
    ViewBag.Title = "Jornadas Disponibles";
}

@*Sólo se muestran los logos cuando se accede desde jornadas.csl.uy*@
@if (Request.Url.Host == "jornadas.csl.uy")
{
<div class="row">
    <div class="col-sm-6">
        <img src="~/images/logos/CSL_logo_main_h_300.png" class="img-responsive" alt="UPM The Biofore Company">
    </div>
    <div class="col-sm-6">
        <img src="~/images/logos/UPM_logo_main_h_300.png" class="img-responsive" alt="UPM The Biofore Company">
    </div>
</div>
<hr />
}

<h2>Próximas Jornadas Disponibles</h2>

<hr />

@using (Html.BeginForm())
{                                }
<table class="table table-striped">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>
        <th>
            Curso
        </th>
        <th>
            Lugar
        </th>
        <th>
            Dirección
        </th>
        <th>
            Características
        </th>
        <th>
            Disponibilidad
        </th>
    </tr>

    @foreach (var item in Model)
    {
        //si la jornada no tiene cupos disponibles se muestra el texto en colo rojo
        string textColor = item.CuposDisponibles ? "black" : "red";

        <tr style="color: @textColor;">
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar.NombreLugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristicas)
            </td>
            <td style="font-weight: bold;">
                @Html.DisplayFor(modelItem => item.CuposDisponiblesTexto)
            </td>
        </tr>
    }

</table>