@model IEnumerable<Cursos.Models.Jornada>

@{
    ViewBag.Title = "Jornada";
}

<h2>Jornadas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Descripcion)
        </th>
        <th>
            @Html.Label("Instructor")
        </th>
        <th>
            @Html.Label("Lugar")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar.NombreLugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            <a href="@Url.Action("Details", "Jornadas", new { id = item.JornadaID }) "><img src="@Url.Content("~/images/verDetalle_16x16.png")" title="Ver detalle" /></a>
            @if (item.PuedeModificarse())
            {
                @:&nbsp;|
                <a href="@Url.Action("Edit", "Jornadas", new { id = item.JornadaID }) "><img src="@Url.Content("~/images/editar_16x16.png")" title="Editar" /></a>@:&nbsp;|
                <a href="@Url.Action("Delete", "Jornadas", new { id = item.JornadaID }) "><img src="@Url.Content("~/images/borrar_16x16.png")" title="Borrar" /></a>
            }
        </td>
    </tr>
}

</table>
