@model IEnumerable<Cursos.Models.Instructor>

@{
    ViewBag.Title = "Instructores";
}

<h2>Instructores</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<hr />

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>

                <div class="form-inline" style="margin:5px 3px;">

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Label("Nombre")
                        </div>
                        <div class="col-md-10">
                            @Html.TextBox("nombre", ViewBag.CurrentNombre as string, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Label("Apellido"):
                        </div>
                        <div class="col-md-10">
                            @Html.TextBox("apellido", ViewBag.CurrentApellido as string, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group" style="width: 450px">
                        <div class="col-md-5">
                            @Html.Label("Mostar solo activos:")
                        </div>
                        <div class="col-md-10">
                            @Html.CheckBox("soloActivos")
                        </div>
                    </div>
                </div>
            </td>
            <td width="1%">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Buscar" />
                    </div>
                </div>
            </td>

        </tr>
    </table>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    string tdActivo = "none";

    if (!item.Activo)
    {
        tdActivo = "line-through";
    }

    <tr>
        <td style="text-decoration:@tdActivo">
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td style="text-decoration:@tdActivo">
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td style="text-decoration:@tdActivo">
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td style="text-decoration:@tdActivo">
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td style="text-decoration:@tdActivo">
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td style="text-decoration:@tdActivo">
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            <a href="@Url.Action("Details", "Instructores", new { id = item.InstructorID }) "><img src="@Url.Content("~/images/verDetalle_16x16.png")" title="Ver detalle" /></a>
            @if (item.PuedeModificarse())
            {
                @:&nbsp;|
                <a href="@Url.Action("Edit", "Instructores", new { id = item.InstructorID }) "><img src="@Url.Content("~/images/editar_16x16.png")" title="Editar" /></a>@:&nbsp;|
                <a href = "@Url.Action("Delete", "Instructores", new { id = item.InstructorID }) " ><img src = "@Url.Content("~/images/borrar_16x16.png")" title = "Borrar" /></a>
            }
        </td>
    </tr>
}

</table>
